body
{
    margin: 0;
    width: 100%;
}

.header
{
    display: flex;
    justify-content: center;
    /* gap: 128px; */
    background-color: #1f2937;
    color: aliceblue;
    /* height: 50%; */
    padding: 0rem 10rem 8rem;
    /* flex: 1; */
}

.header-left
{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 40%;    
    /* border: 1px solid red; */
    /* font-weight: 700; */
    gap: 4rem;
}

.header-left-bottom
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem; 
}

.header-left-bottom h1
{
    font-size: 3rem;
    font-weight: 900;
    margin: 0;

}

.header-left-bottom button
{
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    background-color: #3882f6;
    border-radius: 6px;
    color: antiquewhite;
    border: 0px;
}

.header-right
{

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4rem;
    /* border: 5px solid blue; */
    height: min-content;
    width: 50%;
}

.header-right ul
{
    /* align-self: center; */
    display: flex;
    gap: 1.4rem;
    /* margin: 0; */
    list-style-type: none;
    padding: 0;
}

.header-right ul a
{
    color: antiquewhite;
    text-decoration: none;
}

.header-right img      
{
    /* flex-grow: 1; */
    height: min-content;
    width: 80%;
    /* border: 1px solid red; */
}


.body01
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    height: 80%;
    padding: 2rem 0rem 7rem;
    /* border: 1px solid red; */


}

.body01-bottom
{
    display: flex;
    gap: 2rem;
    
}

.body01-image-text
{
    height: min-content;
    width: 15vw;
}

.body01-image-text img
{
    height: auto;
    width: 15vw;
    border: 5px solid #3882f6;
    border-radius: 6px;

}

.body01-image-text p 
{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}


.body02
{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e5e7eb;
    align-items: center;
    padding: 5rem 0rem;

}

.body02 p
{
    width: 50%;
    font-size: 2rem;
    /* justify-self: center; */
    /* text-align: center; */
    font-style: italic;
    /* font-weight: 200; */
    margin: 0;
}

.body02 .Quote
{
    margin-top: -0.5rem;
    /* border: 1px solid red ; */
    font-size: 1.5rem;
    text-align: end;
}

.footer
{   display: flex;
    justify-content: center;
    padding: 2rem;
    /* width: 96vw */
    background-color: #1f2937;
    color: antiquewhite;
    font-family: sans-serif;
    
}
