
.header
{
    display: flex;
    justify-content: center;
    /* gap: 128px; */
    background-color: #1f2937;
    color: aliceblue;
    height: 60vh;
    padding: 8px 128px 128px;
    /* flex: 1; */
}

.header-left
{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 40vw;    
    /* border: 1px solid red; */
    /* font-weight: 700; */
    gap: 64px;
}

.header-left-bottom
{
    display: flex;
    flex-direction: column;
    gap: 16px; 
}

.header-left-bottom h1
{
    font-size: 48px;
    font-weight: 900;
    margin: 0;

}

.header-left-bottom button
{
    width: 9vw;
    height: 3vh;
    background-color: #3882f6;
    border-radius: 6px;
    color: antiquewhite;
    border: 0px;
}

.header-right
{

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 64px;
    /* border: 5px solid blue; */
    height: auto;
    width: 50vw;
}

.header-right ul
{
    /* align-self: center; */
    display: flex;
    gap: 16px;
    /* margin: 0; */
    list-style-type: none;
    padding: 0;
}

.header-right ul a
{
    color: antiquewhite;
    text-decoration: none;
}

.header-right img
{
    flex-shrink: 1;
    height: auto;
    width: 30vw;
    /* border: 1px solid red; */
}

/* .body-image-text
{
    display: flex;
    flex-direction: column;
    width: 15vw;

}

.body-image
{
    flex-shrink: 0 ;
    width: 15vw;
    height: 25vh;
    border: 1px solid red;

} */

